# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment Variables
.env

# AWS
.aws/

# Temp files
*.pdf
temp_chunk_*.pdf

# Runtime working directories (auto-created on startup)
tmp_uploads/
tmp_outputs/